<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Настройки подключения к базе данных -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.default_schema">hiber</property>


        <!-- Настройки диалекта для PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Отображение SQL-запросов в консоли (для отладки) -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Автоматическое создание/обновление таблиц в базе данных -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Маппинг сущностей -->
        <mapping class="lesson59.hiber.User"/>
        <mapping class="lesson59.hiber.Passport"/>
        <mapping class="lesson59.hiber.Department"/>
        <mapping class="lesson59.hiber.SocialNetwork"/>

    </session-factory>
</hibernate-configuration>